.charactersSection {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding-top: 30px;
  min-height: 83.5vh;
  max-width: 1440px;

  img {
    max-width: 400px;
  }

  h1 {
    color: var(--primary);
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .cardsContainer {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
  }
}
