.charactersSection {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding-top: 30px;
  min-height: 83.5vh;
  max-width: 1280px;
  width: 100%;

  img {
    max-width: 400px;
    width: 95%;
  }

  .charactersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    gap: 40px;
    padding: 0 20px;
    margin-top: 50px;

    h1 {
      color: var(--primary);
      font-size: 2.2rem;
      font-weight: 500;
    }

    > div {
      display: flex;
      gap: 10px;
      align-items: center;
      width: 100%;
      justify-content: end;

      > input {
        font-size: 1.05rem;
        padding: 14px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: transparent;
        color: var(--light-text);
        flex: 1;
        max-width: 402px;
        min-width: 0px;

        &::placeholder {
          color: rgb(199, 199, 199);
        }
      }

      > button {
        border: none;
        font-size: 1.05rem;
        padding: 14px;
        background-color: transparent;
        border: 1px solid var(--light-text);
        border-radius: 4px;
        color: var(--light-text);
        font-weight: 500;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          border-color: var(--primary);
          color: var(--primary);
        }
      }
    }
  }

  .cardsContainer {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
    padding: 20px;
  }

  .pagination {
    margin-top: 20px;

    button {
      color: #ffffff;
    }

    div {
      color: #ffffff;
    }
  }
}

@media (max-width: 1080px) {
  .charactersSection {

    .cardsContainer {
      gap: 20px;
    }
  }
}


@media (max-width: 780px) {
  .charactersSection {
    gap: 0px;

    .charactersHeader {
      flex-direction: column;
      gap: 20px;
      margin-top: 5%;

      > div {
        justify-content: center;
      }
    }
  }
}
