.card {
  display: flex;
  background-color: rgb(34, 12, 95);
  box-shadow: rgba(164, 150, 226, 0.219) 0px 2px 8px 0px;
  flex: 1;
  min-width: 450px;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  max-height: 260px;
  transition: 0.3s;
  z-index: 100;
  cursor: pointer;

  &:hover {
    background-color: rgb(49, 23, 122);
  }

  img {
    max-width: 190px;
    max-height: none;
  }

  .characterInfo {
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 2px 2px 15px;

    h2 {
      color: var(--primary);
      font-size: 1.4rem;
    }

    .status,
    .firstLocation {
      margin-bottom: 10px;
    }

    strong {
      font-size: 1rem !important;
      font-weight: 600;
    }

    p {
      font-size: 0.95rem;
    }
  }

  .infoContainer {
    display: flex;
    justify-content: end;
    flex: 1;
    padding: 12px 10px 0 0;
    color: var(--light-text);

    .info {
      transition: 0.2s;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
    max-height: none;
    max-width: 250px;
    min-width: 250px;

    img {
      width: 100%;
      max-width: none;
    }

    .characterInfo {
      padding: 10px 5px 5px 15px;
    }
  }
}
