:root {
  --primary: #73e958;
  --secondary: #00c9e4;
  --light-text: #ffffff;
  --dark-text: #272727;
  --background-dark: #160440;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #160440;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  flex: 1;
  padding: 0 35px;
  width: 100%;
  max-width: 1440px;
}
